name: Reusable Android Build & Deploy

on:
  workflow_call:
    inputs:
      module:
        required: false
        default: "composeApp"
        type: string
      upload_artifacts:
        required: false
        default: true
        type: boolean

jobs:
  android-build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Make gradlew executable
        run: chmod +x ./gradlew

      - uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - uses: gradle/actions/setup-gradle@v3
        with:
          cache-read-only: false

      - name: Build Android Debug APK
        run: ./gradlew :${{ inputs.module }}:assembleDebug

      - name: Upload APK Artifact
        if: ${{ inputs.upload_artifacts }}
        uses: actions/upload-artifact@v4
        with:
          name: android-debug-apk
          path: ${{ inputs.module }}/build/outputs/apk/debug/*.apk
